h1, h2 {
  font-family: Lato;
}
#tit{background: rgba(255, 0, 0, 0.8); color:white; 
font-weight: bold; text-align: center; position: static;
max-width:100%;width:auto;height:auto;}
#info{
  height: 120px;
  -webkit-columns: 3;
  column-gap: 0px;
  background-color: gray;
  
}
#a{
    height: 120px;
  background-color: blue;
  min-width: 100%;
}
#b{
    height: 120px;
  background-color: green;
  min-width: 200%;
}
#info1{
  height: 1400px;
}
#info2{
  height: 120px;
}
#photo1{
  height: 120px;
}
.photo1{
  max-width:100%;width:auto;height:130px;
}
.photo{

  max-width:100%;width:auto;height:130px;
}
#a{
max-width: 35%;
}